@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}

img{
outline:none;
border-style:none;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}

header h1{
    font-size:120%;
    color:#313131;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight:400;
    float: left;
    background-color: rgb(208, 240, 202);
}
 
/*****NAV*****/
nav{
    border-bottom: 1px solid #ccc;
    }
    nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
    nav ul li{
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
    }
    nav ul li:first-child{
    border-left: 1px solid #ccc;
    }
    nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
    }
    nav ul li a:hover{
    background-color:rgb(225, 253, 214);
    }
    nav ul .current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
    }

/*****MAIN*****/
.main {
    padding-bottom: 10px;
    background-color: rgb(247, 255, 245)
    }

.main h2{
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
}

p.infobox {
    margin: 50px;
    margin-left: 75px;
    margin-right: 200px;
    margin-top: 0px;
    height: 6.3em;     /* 高さを制限(※) */
    overflow: scroll;  /* スクロールバーを表示(※) */
    border: rgb(103, 184, 37) 1px dashed;    /* 枠線を追加 */
    background-color: #ffffff; /* 背景色を追加 */
    }


footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c0bfbf;
}
footer address{
    color: #fff;
    letter-spacing: 5px;
}
