body{
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
    margin:0;
    color:#313131;
    }
    
    img{
    outline:none;
    border-style:none;
    }
    
    /*****HEADER*****/
    header{
        display: block;
        width:60%;
        margin-left: 20%;
        overflow: hidden;
    }
    
    header h1{
        font-size:120%;
        color:#313131;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border:1px solid #313131;
        border-radius: 5px;
        letter-spacing: 3px;
        font-weight:400;
        float: left;
        background-color: rgb(208, 240, 202);
    }
     
    /*****NAV*****/
    nav{
        border-bottom: 1px solid #ccc;
        }
        nav ul{
        display: table;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        text-align: center;
        }
        nav ul li{
        display: table-cell;
        min-width: 50px;
        border-right: 1px solid #ccc;
        }
        nav ul li:first-child{
        border-left: 1px solid #ccc;
        }
        nav ul li a{
        display: block;
        width: 100%;
        padding: 10px 0;
        text-decoration: none;
        color: #aaa;
        }
        nav ul li a:hover{
        background-color:rgb(225, 253, 214);
        }
        nav ul .current a{
        border-bottom: 5px solid #00B0F0;
        color: #00B0F0;
        }



*{
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

#liveeditor{
    margin: 10px;
}

.bottomspace{
    margin-bottom: 20px;
}

.editor{
    float: left;
    width: 50%;
    height: 400px;

}

.preview{
    float: right;
    width: 50%;
    background-color: lightgray;
}

.livepreview{
    height: 400px;
    background-color: lightgray;
}

.procedure{
    background-color: white;
    min-height: 100%; 
    clear: both;
}

.button{
    border: 1px solid plum;
    color: black;
    line-height: 25px;
    width: 100px;
    margin: 20px;
    background-color: aliceblue;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.button:hover{
    border: 1px solid mediumpurple;
    color: white;
    transition: 0.3s;
    background-color: mediumpurple;
}

.footer{
    font-size:6px;
    font-weight: 100;
    position: fixed;
    color: white;
    background-color: #444444;
    width: 100%;
    padding: 5px 10px 5px 10px;
    bottom: 0;
}